/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg,
    #0099f7,  #f11712);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: transparent;
    padding: 20px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#nameInput {
    padding: 10px;
    font-size: 1.2em;
    width: 50%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0099F7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #0099F7;
}

#nameList {
    list-style-type: none;
    padding: 0;
}

#nameList li {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

#selectedName {
    font-size: 2em;
    color: #0099F7;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color:#0099F7;
    padding: 10px;
    font-size: 0.9em;
}
